{% extends 'layouts/base_user.html' %}
{% block content %}
{% load static %}
    {% include 'layouts/questionBase.html' %}
        {% for answer in answers %}
            {% include 'layouts/answerBase.html' %}
        {% endfor %}
            <!-- Поле для ввода ответа -->
            <div class="answer-form">
                <h4>Your Answer</h4>
                <textarea class="form-control mb-2 bg-secondary text-white" rows="2"></textarea>
                <div class="col-5">
                    <a href="#" class="btn btn-primary">Answer</a>
                </div>
            </div>
{% endblock %}